.slider {
  position: sticky;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image,
.image2,
.image3 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
